
  .forgotPswd {
    color:#302B3F;
    text-decoration: none;
    font-size: 16px;
    text-align: center !important;
  }
  .forgotPswd:hover {
    color: #302b3f;
    text-decoration: none;
  }
  .loghead {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 42px;
  }
  
  .login_form .form-control {
    margin-top: -13px;
    display: block;
    width: 59%;
    margin-left: 20%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: white !important;
    background-clip: padding-box;
    box-shadow: 0 0 0 0.2rem white;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    transition: border-color 0.15s;
  }
  .errormessage {
    margin-bottom: -8px;
  
    margin-top: 5px;
    color: red;
    font-size: 14px;
  }


  /* ===============================newlogin============================================ */
  
  .cardMainlogin {
    width: 25rem;
    height: 24rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 8% !important;
  }

  .companyicon
  {

    background-color: rgb(243, 243, 243);
    text-align: center;
  }
.companylogo{
    width: 140px;
    height: 100px;
}
  .loginsection{
    background-color: white;
    width: 22rem;
    height: 24rem;
    margin: auto;
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 5% !important;

  }
  .title {
    font-size: 28px;
    color: #151b39;
    margin-top: 10%;
    font-weight: 300 !important;
  }

  .titlesec{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 200;
  }

  .form{
      margin-top: 30px;
  }

  .cmn-btn{
      border-radius: 20px;
      color: #fff;
      background-color: #302b3f;
      border-color: #302b3f;
      font-size: 14px;
  }

  .cmn-btn:hover {
    border-radius: 20px;
    color: #fff;
    background-color: #302b3f;
    border-color: #302b3f;
    font-size: 14px;
}


  .input-group-text{
      background-color: white;
  }
  .input-group{
    background-color: white; 
  }
  .bottom-login {
    padding-top: 25px;
    font-size: 14px;
    font-weight: 200;
  }
  .btm-login{
    font-weight: 400;  
  }
  /* input{
    background-color: white; 
  } */

  
  .hrlinepsd {
    border-bottom: 1px solid #9c9b9b;
   
    margin-top: 35%;
  }


  @media (max-width: 991px) and (min-width: 768px) {
    .cardMainlogin {
      width: 47rem;
      margin-top: 12% !important;
      margin-left: -4% !important;
      margin-right: 0%;
    }

  }
  @media (max-width: 767px) and (min-width: 520px) {
    .cardMainlogin {
      width: 30rem;
      margin-top: 20% !important;
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 10%;
    }
   
  }
  
  @media (max-width: 519px) and (min-width: 480px) {
    .cardMainlogin {
      width: 27rem;
      margin-top: 20% !important;
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 10%;
    }
  
  }
  @media (max-width: 479px) and (min-width: 430px) {
    .cardMainlogin {
      width: 23rem;
      margin-top: 20% !important;
      margin-left: 3%;
      margin-right: 0%;
      margin-bottom: 10%;
    }
  }
  @media (max-width: 429px) and (min-width: 330px) {
    .cardMainlogin {
      width: 18rem;
      margin-top: 20% !important;
      margin-bottom: 10%;
    }
    
  }

  